@charset "UTF-8";

@page {
    @top-left {
        background: #48b300;
        content: counter(page);
        height: 1cm;
        text-align: center;
        width: 1cm;
    }

    @top-center {
        background: #48b300;
        content: '';
        display: block;
        height: .05cm;
        opacity: .5;
        width: 100%;
    }

    @top-right {
        content: string(heading);
        font-size: 9pt;
        height: 1cm;
        vertical-align: middle;
        width: 100%;
    }
}

@page :blank {
    @top-left {
        background: none;
        content: '';
    }

    @top-center {
        content: none;
    }

    @top-right {
        content: none;
    }
}

@page no-chapter {
    @top-left {
        background: none;
        content: none;
    }

    @top-center {
        content: none;
    }

    @top-right {
        content: none;
    }
}


@page chapter {
    background: #48b300;
    margin: 0;

    @top-left {
        content: none;
    }

    @top-center {
        content: none;
    }

    @top-right {
        content: none;
    }
}

img {
    width: 100%
}

.host-title {
    break-before: always;
}

html {
    color: #393939;
    font-family: Fira Sans;
    font-size: 11pt;
    font-weight: 300;
    line-height: 1.5;
}

html body h2,
html body h3,
html body h4 {
    color: black;
    font-weight: 400;
}

html body h2 {
    break-before: always;
    font-size: 28pt;
    string-set: heading content();
}

html body h3 {
    font-weight: 300;
    font-size: 15pt;
}

html body h4 {
    font-size: 13pt;
}

html body section#cover {
    background: url({{ cover_image}}) no-repeat;
    background-size: 100%;
    align-content: space-between;
    height: 297mm;
}

html body section#cover h1 {
    font-size: 38pt;
    page: no-chapter;
    width: 100%;
    padding-left: 1cm;
    padding-top: 2cm;
    color: white
}

html body section#cover p {
    padding-left: 1cm;
}


html body section#toc {
    break-before: right;
    break-after: left;
    page: no-chapter;
}

html body section#toc ul {
    list-style: none;
    padding-left: 0;
}

html body section#toc ul li::before {
    content: '';
    vertical-align: bottom;
}

html body section#toc ul li a::before {
    content: target-text(attr(href));
}

html body section#toc ul li a::after {
    content: target-counter(attr(href), page);
    float: right;
}


html body section#finding h3 {
    background: #48b300;
    margin: 0 -3cm 1cm;
    padding: 1cm 1cm 1cm 3cm;
    width: 21cm;
}

html body section#finding section {
    padding: .5cm 0;
}

html body section#finding section.Low::before {
    background: #48b300;
    background-size: 50%;
    content: '';
    display: inline-block;
    float: left;
    height: 4em;
    margin-right: .5cm;
    vertical-align: middle;
    width: 2cm;
}

html body section#finding section.Medium::before {
    background: #ffad33;
    background-size: 50%;
    content: '';
    display: inline-block;
    float: left;
    height: 4em;
    margin-right: .5cm;
    vertical-align: middle;
    width: 2cm;
}

html body section#finding section.High::before {
    background: #ff0000;
    background-size: 50%;
    content: '';
    display: inline-block;
    float: left;
    height: 4em;
    margin-right: .5cm;
    vertical-align: middle;
    width: 2cm;
}

html body section#finding section h4 {
    margin: 0;
}

html body section#finding section p {
    margin-top: 0;
}
