<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Report</title>
    <meta name="description" content="Report example">
</head>

<body>
    <article id="cover">
        <h1>{{ summary.scan.name }}</h1>
        <address>
            Greenbone Networks GmbH
            Neumarkt 12
            49074 Osnabrück Germany
        </address>
        <address>
            support@greenbone.net
            +49-541-760278-0
            https://www.greenbone.net
        </address>
    </article>
    <article id="summary">
        <h2>Summary</h2>
        <h3>Report</h3>
        <p>Applied filters: {{ summary.report.applied_filter }}</p>
        <p>Severities: {{ summary.report.severities }}</p>
        <p>Timezone: {{ summary.report.timezone }}</p>
        <h3>Results</h3>
        <img src="{{ summary.results.chart }}"/>
        <p>available: {{ summary.results.available}}</p>
        <p>included: {{ summary.results.included}}</p>
    </article>
    <article id="common_vulnerabilities">
        <h2>Common Vulnerabilities</h2>
        {% for cv in common_vulnerabilities %}
        <h3>{{ cv.name }}</h3>
        <img src="{{ cv.chart }}"/>
        <table id="{{ cv.name }}_cv_top_ten">
            <tr>
                <th>OID</th>
                <th>amount</th>
                <th>name</th>
            </tr>
            {% for count in cv.counts %}
            <tr>
                <td>{{ count.oid }}</td>
                <td>{{ count.amount }}</td>
                <td>{{ count.name }}</td>
            </tr>
            {% endfor %}
        </table>
        {% endfor %}
    </article>
    <article id="vulnerability_overview">
        <h2>Vulnerability Overview</h2>
        <h3>Hosts</h3>
        <img src="{{ vulnerability_overview.hosts.chart }}"/>
        <table id="hosts_top_ten">
            <tr>
                <th>hostname</th>
                <th>IP</th>
                <th>amount</th>
            </tr>
            {% for count in vulnerability_overview.hosts.counts %}
            <tr>
                <td>{{ count.name }}</td>
                <td>{{ count.ip }}</td>
                <td>{{ count.amount }}</td>
            </tr>
            {% endfor %}
        </table>
        <h3>Ports</h3>
        <img src="{{ vulnerability_overview.ports.chart }}"/>
        <table id="ports_top_ten">
            <tr>
                <th>port</th>
                <th>amount</th>
            </tr>
            {% for count in vulnerability_overview.ports.counts %}
            <tr>
                <td>{{ count.port}}</td>
                <td>{{ count.amount }}</td>
            </tr>
            {% endfor %}
        </table>
        <h3>CVSS distribution / port</h3>
        <img src="{{ vulnerability_overview.cvss_distribution_ports.chart }}"/>
        <table class="cvss_distribution">
            <tr>
                <th>port</th>
                <th>amount</th>
                <th>cvss</th>
            </tr>
            {% for count in vulnerability_overview.cvss_distribution_ports.counts %}
            <tr>
                <td>{{ count.identifier}}</td>
                <td>{{ count.amount }}</td>
                <td>{{ count.cvss}}</td>
            </tr>
            {% endfor %}
        </table>
        <h3>CVSS distribution / host</h3>
        <img src="{{ vulnerability_overview.cvss_distribution_hosts.chart }}"/>
        <table class="cvss_distribution">
            <tr>
                <th>host</th>
                <th>amount</th>
                <th>cvss</th>
            </tr>
            {% for count in vulnerability_overview.cvss_distribution_hosts.counts %}
            <tr>
                <td>{{ count.identifier}}</td>
                <td>{{ count.amount }}</td>
                <td>{{ count.cvss}}</td>
            </tr>
            {% endfor %}
        </table>
        <h3>CVSS distribution / vulnerability</h3>
        <img src="{{ vulnerability_overview.cvss_distribution_vulnerabilities.chart }}"/>
        <table class="cvss_distribution">
            <tr>
                <th>nvt/oid</th>
                <th>amount</th>
                <th>cvss</th>
            </tr>
            {% for count in vulnerability_overview.cvss_distribution_vulnerabilities.counts %}
            <tr>
                <td>{{ count.identifier}}</td>
                <td>{{ count.amount }}</td>
                <td>{{ count.cvss}}</td>
            </tr>
            {% endfor %}
        </table>
    </article>

    <article id="finding">
        <h2 id="finding-title">scan reports grouped by {{ grouping }}</h2>
        {% for scan in results.scans %}
        <h3>{{ scan.host }}</h3>
        {% for detail in scan.results %}
        <section class="{{ detail.threat }}">
            <h4>OID: {{ detail.nvt_oid }}</h4>
            <p>Family: {{ detail.nvt_family }}</p>
            <p>Description: {{ detail.nvt_name }}</p>
            {% if 'nvt_solution_text' in detail %}
            <h5>{{ detail.nvt_solution_type }}:</h5>
            <p>{{ detail.nvt_solution_text }}</p>
            {% endif %}
            </p>
        </section>
        {% endfor %}
        <div class="pagebreak" />
        {% endfor %}
    </article>

</body>

</html>
