<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Report</title>
    <meta name="description" content="Report example">
</head>

<body>
    <article id="cover">
        <h1>{{ summary.scan.name }}</h1>
    </article>
    <article id="ovierview">
        <h2>Main Report</h2>
        <h3>Vulnerable Equipment</h3>
        <img src="{{ overview.vulnerable_equipment.chart }}" />
        <h3>Total NVT</h3>
        <img src="{{ overview.nvts.chart }}" />
        <h3>Top 10 Hosts</h3>
        <img src="{{ overview.hosts.chart }}" />
    </article>
    <article id="finding">
        {% for scan in results%}
        <h3 class="host-title">{{ scan.host }}</h3>
        <p>score: {{ severity }}</p>
        <p>cpu:</p>
        <p>o/s:</p>
        <p>Memory:</p>
        <p>Ports open:</p>
        {% for detail in scan.results %}
        <section class="{{ detail.threat }}">
            <h4>{{ detail.nvt_name }}</h4>
            <p>{{ detail.port }} {{ detail.nvt_oid }}</p>
            {% if 'summary' in detail.nvt_tags_interpreted %}
            <h5>Summary</h5>
            <p>{{ detail.nvt_tags_interpreted.summary }} </p>
            {% endif %}
            {% if 'impact' in detail.nvt_tags_interpreted %}
            <h5>Impact</h5>
            <p>{{ detail.nvt_tags_interpreted.impact }} </p>
            {% endif %}
            {% if 'insight' in detail.nvt_tags_interpreted %}
            <h5>Vulnerability Insight</h5>
            <p>{{ detail.nvt_tags_interpreted.insight }} </p>
            {% endif %}
            {% if 'solution' in detail.nvt_tags_interpreted %}
            <h5>Solution</h5>
            <p>{{ detail.nvt_tags_interpreted.solution_type}} </p>
            <p>{{ detail.nvt_tags_interpreted.solution}} </p>
            {% endif %}
            {% if 'nvt_refs_ref' in detail%}
            <h5>References</h5>
            {% for key, refs in detail.nvt_refs_ref.items %}
            <p>{{ key }}:
            {% for r in refs %}
            {{ r }}, 
            {% endfor %}
            </p>
            {% endfor %}
            {% endif %}
        </section>
        {% endfor %}
        {% endfor %}
    </article>

</body>

</html>
