name: Build and test Python package

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  linting:
    name: Linting
    runs-on: 'ubuntu-latest'
    strategy:
        matrix:
          python-version:
            - "3.9"
            - "3.10"
            - "3.11"
    steps:
      - uses: actions/checkout@v6
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install poetry and dependencies
        uses: greenbone/actions/poetry@v3
      - name: Check with black, pylint and pontos.version
        uses: greenbone/actions/lint-python@v3
        with:
          packages: pheme tests

  test:
    name: Run all tests
    runs-on: 'ubuntu-latest'
    strategy:
        matrix:
          python-version:
            - "3.9"
            - "3.10"
            - "3.11"
    steps:
      - uses: actions/checkout@v6
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install poetry and dependencies
        uses: greenbone/actions/poetry@v3
      - name: Run unit tests
        run: poetry run python -m pytest

  codecov:
    name: Upload coverage to codecov.io
    needs: test
    runs-on: 'ubuntu-latest'
    steps:
      - uses: actions/checkout@v6
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.10"
      - name: Install poetry and dependencies
        uses: greenbone/actions/poetry@v3
      - name: Calculate and upload coverage to codecov.io
        uses: greenbone/actions/coverage-python@v3
        with:
          test-command: -m pytest
          token: ${{ secrets.CODECOV_TOKEN }}
