name: Container Image Builds

on:
  push:
    branches: [ main ]
    tags: ["v*"]
  workflow_dispatch:

jobs:
  images:
    name: Build and upload container images
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Gather container tags
        id: container
        uses: greenbone/actions/container-image-tags@v1
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - name: Install poetry and dependencies
        uses: greenbone/actions/poetry@v1
      - name: Build wheel
        run: poetry build -f wheel
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Build and push Container image
        uses: docker/build-push-action@v3
        with:
          context: .
          push: true
          tags: ${{ steps.container.outputs.image-tags }}
          platforms: linux/amd64,linux/arm64
          file: .docker/pheme.Dockerfile
          labels: |
            org.opencontainers.image.vendor=Greenbone
            org.opencontainers.image.revision=${{ github.sha }}
